/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  margin: 0 !important;
  font-family: "Rethink Sans", sans-serif;
  background-color: #191a1c !important;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#landingbg {
  background: url(../img/licejus1_3200.png) no-repeat center center;
  background-size: 160%;
  height: 100vh;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  /*  Make image darker  */
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

#landing h1 {
  font-size: 5em;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
  width: 100%;
  letter-spacing: 0.05em;
}

#landing h3 {
  font-size: 1.5em;
  color: #999;
  text-align: center;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);

  letter-spacing: 0.05em;
}

#landing h5 {
  font-size: 1em;
  color: #999;
  text-align: center;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);

  letter-spacing: 0.05em;
}

#videoDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;


  /* Shadow on top and bottom, inset */
  box-shadow: inset 0px 0px 100px 100px rgba(25, 26, 28, 0.6);
}

#videoDiv video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#photovideoslider {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  /*  Position vertically*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h2, p {
  color: #aaa;
}

.text h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
  font-weight: 800;
  color: #ddd;
}

.text p {
  font-size: 1.5em;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
}

#photovideoslider .text {
  text-align: LEFT;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 5%;
}

#photovideoslider .slider {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 100%;
}




.splide__slide img {
  /*  center*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#tinklalaides {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

#tinklalaides iframe {
  width: 40%;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, 0%);
}

#tinklalaides .text {
  text-align: LEFT;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40%;
}



body div {
  /* inset border */
  box-shadow: inset 0px 0px 3px 3px rgba(255,255,255,1);
}

#rezervacijos {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

#rezervacijos .text {
  text-align: LEFT;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%;
}

#rezervacijos .splide {
text-align: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40%;
}

#islaidosparama {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}




/*slider*/
.img-comp-container {
  position: relative;
  width: 614px;
  height: 816px;
  display: inline-block;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;

}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #000000;
  opacity: 0.85;
  border-radius: 50%;
  border: 2px solid #fff;
}
